<%= form_tag post_images_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :genre_id,
    options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]),
    {
      prompt: 'ジャンルで絞り込み検索',
      onchange: 'submit(this.form);'
    }
  %>
<% end %>

<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <p><%= image_tag post_image.user.get_profile_image(50,50) %></p>
  <% end %>
  <p>デバイス名：<%= post_image.devise_name %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
</div>
<% end %>